flask==2.3.3
flask-migrate==4.0.0
flask-sqlalchemy==3.0.3
flask-restful==0.3.9
flask-bcrypt==1.0.1
Werkzeug==3.0.1
importlib-metadata==6.0.0
importlib-resources==5.10.0
sqlalchemy==2.0.35
sqlalchemy-serializer==1.4.2
alembic==1.8.1
faker==15.3.2
flask-cors==3.0.10
python-dateutil==2.8.2
flask-session
